/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight:inherit;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: inherit;
  font-style: italic;
}
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar {
  width:8px;
}

::-webkit-scrollbar-track {
  background: var(--quantertary-contrast-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

body{

  user-select: none;  
  -moz-user-select: none;
  -webkit-user-select: none;

  background-color:var(--quantertary-contrast-color);

  border: 0;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;

  scrollbar-width: 8px;
}
html{
  scroll-behavior: smooth;
}


/* Colors */
:root{
  --primary-color:rgb(4, 13, 18);
  --secondary-color:rgb(24, 61, 61);
  --tertiary-color:rgb(92, 131, 116);
  --quantertary-color:rgb(147, 177, 166);

  --primary-contrast-color:	rgb(187, 171, 140);
  --secondary-contrast-color:	rgb(222, 208, 182);
  --tertiary-contrast-color:	rgb(250, 238, 209);
  --quantertary-contrast-color:	rgb(253, 247, 228);
}




/* Elements */
h1{
  font-size: clamp(3.4rem, 10vw, 9rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -2%;
}
h2{
  font-size: clamp(2.9rem, 8vw, 7rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -1.5%;
}
h3{
  font-size: clamp(2.4rem, 6vw, 5rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: -1%;
}
h4{
  font-size: clamp(1.9rem, 4vw, 3rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1%;
}
h5{
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.8%;
}
h6{
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.5%;
}

p{
  font-size: clamp(0.9rem, 2.3vw, 1.3rem);
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.6px;
  font-weight:light;
}
small{
  font-size:clamp(0.8rem, 2.1vw, 1.1rem);
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.6px;
  font-weight:light;
}







/* Navbar */
.navbar {
  width: 98vw;
  height: clamp(75px, 8vw, 90px);
  position: fixed;

  top: 1vw;
  left: 1vw;

  background-color: var(--secondary-color);

  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px;

  z-index: 5;
}
.navbarLogo {
  width: clamp(55px, 5vw, 70px);
  aspect-ratio: 1;

  margin-left: 10px;
}
.navbarLinks {
  list-style-type: none;
  color: white;
  margin-right: 10px;
}
.navbarLinks li {
  display: inline;
  margin: 0px 20px;
}
.navbarLinks a {
  color: white;
  text-decoration: none;

  box-shadow: 0;

  font-size: clamp(0.8rem, 1.8vw, 1.3rem);
  font-family: "Roboto", sans-serif;

  transition: box-shadow 0.1s;
}
.navbarLinks a:hover {
  text-shadow: 1.2px 1.2px 0px white;
  color: transparent;
}
.navbarLinks li:last-child a {
  color: var(--primary-color);
  background-color: var(--quantertary-contrast-color);
  text-decoration: none;
  margin: 0px 15px;
  padding: 12px 40px;
  border-radius: 5px;

  box-shadow: 3px 3px 0 var(--tertiary-color);

  transition: box-shadow 0.2s;
}
.navbarLinks li:last-child a:hover {
  box-shadow: 5px 5px 0 var(--tertiary-color);
}
.navbarLinks li:last-child a:active {
  box-shadow: 3px 3px 0 var(--tertiary-color);
  transition: box-shadow 0.05s;
}
@media screen and (max-width: 1023.98px) {
  .navbarLinks li {
      margin: 0px 15px;
  }
  .navbarLinks li:last-child a {
      margin: 0px 10px;
  }
}
@media screen and (max-width: 767.98px) {
  .navbarLinks li {
      margin: 0px 10px;
  }
  .navbarLinks li:last-child a {
      margin: 0px 5px;
      padding: 10px 38px;
  }
  .navbar {
      width: 100vw;
      position: fixed;

      top: 0px;
      left: 0px;
      border-radius: 0px;
  }
}
@media screen and (max-width: 599.98px) {
  .navbarLinks li:last-child a {
      display: none;
  }
  .navbarLinks li {
      margin: 0px 5px;
  }
  .navbarLogo {
      width: 50px;
  }
  .navbar {
      height: 70px;
  }
}
















/* Hero */
#hero {
  width: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
}
.heroParent {
  margin-top: 100px;

  width: inherit;
  height: calc(100vh - 115.7px);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.heroChild {
  height: inherit;
  padding: 0;
  margin: 0;
}
.heroPic {
  width: 650px;
}
.heroRight {
  color: var(--primary-color);
  text-align: right;

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}
.heroRight h2,
h4 {
  margin: 0 45px 0 0;
}
.heroRight a {
  color: white;
  background-color: var(--primary-color);
  align-self: flex-end;
  margin: 0 30px 0 0;

  text-decoration: none;

  font-family: "Roboto", sans-serif;

  font-size: clamp(1.2rem, 2vw, 1.8rem);

  padding: 17px 50px;
  margin-top: 40px;

  border-radius: 5px;

  box-shadow: 5px 5px 0 var(--tertiary-color);

  transition: box-shadow 0.2s;
}
.heroRight a:hover {
  box-shadow: 8px 8px 0 var(--tertiary-color);
}
.heroRight a:active {
  box-shadow: 5px 5px 0 var(--tertiary-color);
  transition: background-color 0.1s;
}
.leftRectangle {
  width: 25%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -5;

  background-color: var(--primary-color);
}
.heroLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

@media screen and (max-width: 1199.98px) {
  .heroPic {
      width: 550px;
  }
}
@media screen and (max-width: 999.98px) {
  .heroPic {
      width: 500px;
  }
  .heroRight a {
      padding: 13px 40px;
  }
}

@media screen and (max-width: 899.98px) {
  .heroParent {
      flex-direction: column-reverse;
      height: fit-content;
  }
  .heroRight,
  .heroLeft {
      width: 100%;
  }
  .heroLeft {
      background-color: var(--primary-color);

      padding: 30px 0px;
  }
  .leftRectangle {
      display: none;
  }
  .heroPic {
      width: 75vw;
  }
  .heroRight {
      align-items: center;
      text-align: center;
  }
  .heroRight a {
      align-self: center;
      margin: 25px 0px;
  }
  .heroRight h2,
  h4 {
      margin: 0px;
  }
}
@media screen and (max-width: 559.98px) {
  .heroRight a {
      font-size: 1rem;
      padding: 12px 35px;
  }
}
@media screen and (max-width: 459.98px) {
  .heroPic {
      width: 85vw;
  }
  .heroRight {
      width: 85%;
  }
}













/* About us */
#about{
  width: 100%;
  height: fit-content;
  margin-top: 150px;

  margin: 0px;
  margin-top: 150px;
  padding: 0px;
}
.staffParent{
  width: calc(100% - 80px);
  height: fit-content;

  margin: 200px 40px;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.staffChildl{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.staffChildr{
  width: 70%;
  height: fit-content;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  border-top: 2px solid var(--primary-color);

  margin: 0px 70px;
  padding: 50px 0px;
}

.staffRightl, .staffRightr{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.staffRightl{
  width: 60%;
}
.staffRightr{
  width: 40%;
}
.staffImage{
  width: 370px;
  aspect-ratio: 1/1.2;

  object-fit: cover;
  object-position: center top;

  box-shadow: 10px 25px 0px var(--primary-color), -10px -20px 0px var(--primary-contrast-color);
}
.staffRightr h5{
  margin: 0;
}
.staffRightr ul li{
  margin: 0px;
  padding: -10px 0px;
}
@media screen and (max-width:1249.98px) {
  .staffParent{
    flex-direction: column;
    margin: 100px 40px;
  }
  .staffParent:nth-child(2){
    flex-direction: column-reverse;
  }
  .staffChildl, .staffChildr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .staffChildr{
    width: calc(100% - 10vw);
    margin: 0px 5vw;
  }
  .staffImage{
    margin-bottom: 80px;
  }
}

@media screen and (max-width:949.98px) {
  .staffChildr{
    flex-direction: column;
  }
  .staffRightl, .staffRightr{
    width: 100%;
  }
  .staffRightl{
    display: block;
  }
  .staffImage{
    width: 50vw;
  }
  .staffRightr{
   margin-top: 30px;
   text-align: start;
   display: block;
  }
  .staffRightr ul{
    padding: 0px 0px 0px 15px;
  }
}
@media screen and (max-width: 499.98px) {
  .staffChildr{
    width: calc(100% - 4vw);
    margin: 0px 2vw;
  }
  .staffImage{
    width: 60vw;
  }
}
@media screen and (max-width: 399.98px) {
  .staffChildr{
    width: 100%;
  }
  .staffParent{
    margin: 200px 30px;
  }
}














.picturesParent{
  width: calc(100% - 300px);
  height: fit-content;

  padding: 0px 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

  margin: 300px 0px;
}
.picturesChild{
  width: 50%;
  height: fit-content;
}
.picturesChild img{
  width: 95%;
  height: fit-content;
}
.picturesChild:first-child img{
  height: 600px;

  object-fit: cover;
  object-position: center;
}
.picturesChild:nth-child(2) img{
  height: 500px;

  object-fit: cover;
  object-position: center;
}
.picturesChild:nth-child(3) img{
  height: 400px;

  object-fit: cover;
  object-position: center;
}
.picturesChild:last-child img{
  height: 550px;

  object-fit: cover;
  object-position: center;
}
@media screen and (max-width:949.98px) {
  .picturesParent{
    width: calc(100% - 200px);
    height: fit-content;
  
    padding: 0px 100px;
  }
}
@media screen and (max-width:759.98px) {
  .picturesParent{
    width: calc(100% - 100px);
    height: fit-content;
  
    padding: 0px 50px;
  }
}
@media screen and (max-width:599.98px) {
  .picturesParent{
    width: calc(100% - 100px);
    height: fit-content;
  
    padding: 0px 50px;


    align-items: center;
    flex-direction: column;
  }
  .picturesChild{
    width: 100%;
    margin: 10px 0px;
  }
  .picturesChild img{
    width: 100%;
  }
}
@media screen and (max-width:449.98px) {
  .picturesParent{
    width: calc(100% - 30px);
    height: fit-content;
  
    padding: 0px 15px;

    align-items: center;
    flex-direction: column;
  }
}
















.workingHours{
  text-align: center;

  margin: 0px auto 200px;
}
.workingHours tr th h6{
  margin: -5px 30px;
}
.workingHours tr td p{
  margin: -10px 20px;
}
.workingHours th{
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--quantertary-contrast-color);
}
.workingHours tr td{
  border-bottom: 1px solid var(--primary-color);

  padding: 10px 0px;
}
.workingHours  tr td{
  padding: 20px 5vw;
}
.workingHours  tr th{
  padding: 20px 5vw;
}
@media screen and (max-width:424.98px) {
  .workingHours  tr td{
    padding: 18px 4vw;
  }
  .workingHours  tr th{
    padding: 18px 4vw;
  }
}















/* Why Us */
#whyUs {
  width: 100%;
  height: fit-content;

  margin-top: 150px;

  position: relative;

  padding: 120px 0px;

  background-color: var(--primary-contrast-color);
}
.whyParent {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  position: absolute;
  top: -100px;
}
.whyChild {
  width: 1/3;
  height: fit-content;
}

.whyCard {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 400px;
  margin: 0px 10px;

  position: relative;

  padding: 40px 20px;

  border: 1px solid var(--primary-contrast-color);
  background-color: var(--quantertary-contrast-color);

  clip-path: polygon(
      10% 0%,
      90% 0%,
      100% 10%,
      100% 90%,
      90% 100%,
      10% 100%,
      0% 90%,
      0% 10%
  );
}
.whyCard h4,
p {
  z-index: 5;
}

.whyIcon {
  position: absolute;
  left: -100px;
  top: 0;
  width: 100%;
  height: 100%;
}
.whyUsTitle {
  text-align: center;
  margin-top: 120px;
}
@media screen and (max-width: 1399.98px) {
  .whyCard {
      width: 350px;
  }
}
@media screen and (max-width: 1249.98px) {
  .whyCard {
      width: 300px;
  }
}
@media screen and (max-width: 1099.98px) {
  .whyParent {
      flex-direction: column;
  }
  .whyChild {
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .whyCard {
      width: 500px;
      margin: 10px 0px;
  }
  #whyUs{
    margin-bottom: 70vw;
  }
}
@media screen and (max-width: 699.98px) {
  .whyCard {
      width: 75%;
      margin: 10px 0px;
  }
}
@media screen and (max-width: 599.98px) {
  #whyUs{
    margin-bottom: 500px;
  }
}












/* Testimonials */
#testimonials {
  width: 100%;
  height: fit-content;

  margin: 160px 0px;
}
.testiParent {
  width: 100%;
  height: fit-content;

  margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  overflow-x: scroll;

  width: calc(100% - 90vw);
  padding: 20px 0vw 20px 90vw;

  scroll-snap-type: x mandatory;
}

.testiParent::-webkit-scrollbar {
  height: 5px;
}
.testiParent::-webkit-scrollbar-thumb {
  background-color: var(--quantertary-color);
}
.testiChild {
  width: fit-content;
  height: fit-content;
}
.testiCard {
  width: 23vw;
  aspect-ratio: 1;

  background-color: var(--secondary-color);

  padding: 50px 30px 30px 30px;

  position: relative;

  display: flex;
  justify-content: center;
  flex-direction: column;

  color: var(--quantertary-contrast-color);

  z-index: 0;

  margin: 0px 10px;

  scroll-snap-align: none start;
  scroll-margin: 0px 20px;

  box-shadow: 0px 0px 20px rgb(147, 177, 166, 0.5);
}
.testiCard p {
  font-size: clamp(1rem, 1.7vw, 1.3rem);
}
.testiCard img {
  width: 5cqw;
  position: absolute;
  top: 10px;
  left: 10px;
}
.testiLastCard {
  margin-right: 15vw;
}

@media screen and (max-width: 1349.98px) {
  .testiParent {
      width: calc(100% - 100vw);
      padding: 20px 0vw 20px 100vw;
  }
}
@media screen and (max-width: 1199.98px) {
  .testiLastCard {
      margin-right: 11vw;
  }
}
@media screen and (max-width: 999.98px) {
  .testiLastCard {
      margin-right: 9vw;
  }
}
@media screen and (max-width: 879.98px) {
  .testiCard {
      padding: 48px 25px 25px 25px;
      width: 200px;
  }
  .testiCard img {
      width: 40px;
  }
  .testiLastCard {
      margin-right: 80px;
  }
}
@media screen and (max-width: 849.98px) {
  .testiLastCard {
      margin-right: 35px;
  }
}
@media screen and (max-width: 828.98px) {
  .testiParent {
      width: calc(100% - 200vw);
  }
  .testiLastCard {
      margin-right: 20px;
  }
  .testiChild:first-child .testiCard {
      margin-left: 10vw;
  }
}
@media screen and (max-width: 779.98px) {
  .testiCard {
      margin: 0px 8px;
  }
  .testiChild:first-child .testiCard {
      margin-left: 100px;
  }
}
@media screen and (max-width: 754.98px) {
  .testiChild:first-child .testiCard {
      margin-left: 150px;
  }
}
@media screen and (max-width: 729.98px) {
  .testiChild:first-child .testiCard {
      margin-left: 250px;
  }
}
@media screen and (max-width: 679.98px) {
  .testiChild:first-child .testiCard {
      margin-left: 350px;
  }
}
@media screen and (max-width: 629.98px) {
  .testiChild:first-child .testiCard {
      margin-left: 500px;
  }
}
@media screen and (max-width: 549.98px) {
  .testiChild:first-child .testiCard {
      margin-left: 700px;
  }
}
@media screen and (max-width: 449.98px) {
  .testiChild:first-child .testiCard {
      margin-left: 900px;
  }
}
@media screen and (max-width: 349.98px) {
  .testiChild:first-child .testiCard {
      margin-left: 1100px;
  }
}
















/* Contact */
#contact {
  width: 100%;
  height: fit-content;

  margin-top:150px;
  padding: 0px;
}
.contactParent {
  width: 100%;
  height: fit-content;

  margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  background-image: url(/assets/images/dentalClinic.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contactChild {
  width: 50%;

  margin: 0px;
}

.contactChild iframe {
  aspect-ratio: 1/0.9;
  margin: 0px;
}

.contactRight {
  color: var(--primary-color);

  padding: 0px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactRight ul {
  list-style-type: none;
  margin: 0px;
}
.contactRight ul li {
  margin: -30px 0px;
  color: var(--secondary-color);
}
.contactRight h3 {
  margin: 0px 0px 80px 45px;
}
.contactRight h6 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.3px;
}
.contactIcon {
  width: 40px;
  vertical-align: text-top;
  margin: 0px 10px;
}
.contactButton {
  text-decoration: none;

  color: var(--quantertary-contrast-color);
  background-color: var(--primary-color);

  font-family: "Roboto", sans-serif;
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);

  padding: 15px 40px;
  border-radius: 5px;

  box-shadow: 4px 4px 0 var(--tertiary-color);

  margin-left: 15px;

  transition: box-shadow 0.2s;
}
.contactButton:hover {
  box-shadow: 6px 6px 0 var(--tertiary-color);
}
.contactButton:active {
  box-shadow: 4px 4px 0 var(--tertiary-color);
  transition: box-shadow 0.1s;
}
.contactRight > div {
  background-color: var(--quantertary-color);
  width: fit-content;
  height: fit-content;
  padding: 30px 30px 100px 30px;
}
@media screen and (max-width: 1149.98px) {
  .contactParent {
      flex-direction: column-reverse;
  }
  .contactChild {
      width: 100%;
  }
  .contactChild iframe {
      height: 500px;
  }
  .contactRight {
      padding: 50px 0px;
  }
  .contactRight > div {
      padding: 30px 0px 100px 0px;
      width: 70vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
  }
  .contactRight h3 {
      margin: 5px 0px 10px 0px;
  }
  .contactRight ul {
      list-style-type: none;
      margin: 0px;
      margin-left: -35px;
  }
}
@media screen and (max-width: 629.98px) {
  .contactRight div {
      width: 80vw;
  }
}
@media screen and (max-width: 514.98px) {
  .contactRight div {
      width: 100%;
      padding: 15px 0px 75px 0px;
  }
  .contactButton {
      padding: 12px 30px;
  }
  .contactRight div ul {
      margin-left: -40px;
  }
}
@media screen and (max-width: 399.98px) {
  .contactIcon {
      width: 30px;
  }
}
@media screen and (max-width: 359.98px) {
  .contactIcon {
      width: 25px;
  }
  .contactRight h6 {
      letter-spacing: 0.5px;
  }
}












/* Footer */
footer {
  background-color: var(--primary-color);
  color: var(--quantertary-contrast-color);

  padding-bottom: 50px;

  position: relative;
}

footer ul {
  list-style-type: none;
}
footer ul h5 {
  margin: 20px 0px;
}

.footerParent {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;

  margin: 50px 0px;
}
.footerChild {
  margin: 0px 50px;
}

.footerNavigation ul li {
  margin: 5px 0px;
}
.footerLink {
  text-decoration: none;
  color: var(--quantertary-contrast-color);

  transform: text-shadow 0.2s;
}
.footerLink:hover {
  color: transparent;
  text-shadow: 1px 1px 0px var(--quantertary-contrast-color);
}

.footerButton {
  text-decoration: none;

  color: var(--primary-color);
  background-color: var(--quantertary-contrast-color);

  font-family: "Roboto", sans-serif;
  font-size: clamp(0.8rem, 1.5vw, 1rem);

  padding: 10px 30px;
  border-radius: 5px;

  box-shadow: 4px 4px 0 var(--tertiary-color);

  transition: box-shadow 0.2s;
}
.footerButton:hover {
  box-shadow: 5px 5px 0px var(--tertiary-color);
}
.footerButton:active {
  box-shadow: 4px 4px 0px var(--tertiary-color);
  transition: box-shadow 0.1s;
}

.footerSocial ul li {
  display: inline;
  margin-right: 10px;
}
.footerSM {
  width: 45px;
}

.footerIconContainer {
  width: 100%;
  height: 160px;
  position: relative;
}
.footerIcon {
  position: absolute;
  width: 100px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

  margin: 20px 0px;
}

footer hr {
  width: 90%;
}
.footerCopyright {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 854.98px) {
  .footerChild {
      margin: 0px 10px;
  }
  .footerSM {
      width: 40px;
  }
}
@media screen and (max-width: 589.98px) {
  .footerParent {
      flex-direction: column;
      margin: 0px;
      padding: 0px;
  }
  .footerChild {
      width: 100%;
      /* display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center; */

      padding: 0px;
      margin: 0px;
  }
  .footerButton {
      display: none;
  }
  .footerIcon {
      width: 80px;
      margin: 0px;
  }
  .footerIconContainer {
      height: 95px;
  }
}