/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight:inherit;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: inherit;
  font-style: italic;
}
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  scroll-behavior: smooth;

  user-select: none;  
  -moz-user-select: none;
  -webkit-user-select: none;

  background-color:var(--quantertary-contrast-color);
}

/* Colors */
:root{
  --primary-color:rgb(4, 13, 18);
  --secondary-color:rgb(24, 61, 61);
  --tertiary-color:rgb(92, 131, 116);
  --quantertary-color:rgb(147, 177, 166);

  --primary-contrast-color:	rgb(187, 171, 140);
  --secondary-contrast-color:	rgb(222, 208, 182);
  --tertiary-contrast-color:	rgb(250, 238, 209);
  --quantertary-contrast-color:	rgb(253, 247, 228);
}




/* Elements */
h1{
  font-size: clamp(3.4rem, 10vw, 9rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -2%;
}
h2{
  font-size: clamp(2.9rem, 8vw, 7rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -1.5%;
}
h3{
  font-size: clamp(2.4rem, 6vw, 5rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: -1%;
}
h4{
  font-size: clamp(1.9rem, 4vw, 3rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1%;
}
h5{
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.8%;
}
h6{
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.5%;
}

p{
  font-size: clamp(0.9rem, 2.3vw, 1.3rem);
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.6px;
  font-weight:light;
}
small{
  font-size:clamp(0.8rem, 2.1vw, 1.1rem);
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.6px;
  font-weight:light;
}




/* Navbar */
.navbar{
  width: 98vw;
  height: 90px;
  position: fixed;

  top: 1vw;
  left: 1vw;

  background-color: var(--secondary-color);

  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items:center;

  padding: 0px;

  z-index: 5;
}
.navbarLogo{
  width: 70px;
  aspect-ratio: 1;

  margin-left: 10px;
}
.navbarLinks{
  list-style-type: none;
  color: white;
  margin-right: 10px;
}
.navbarLinks li{
  display: inline;
  margin: 0px 20px;
}
.navbarLinks a{
  color: white;
  text-decoration: none;

  box-shadow: 0;

  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;

  transition: box-shadow 0.1s;
}
.navbarLinks a:hover{
  text-shadow: 1.2px 1.2px 0px white;
  color: transparent;
}
.navbarLinks li:last-child a{
  color: var(--primary-color);
  background-color: var(--quantertary-contrast-color);
  text-decoration: none;
  margin: 0px 15px;
  padding: 12px 40px 12px 40px;
  border-radius: 5px;

  box-shadow: 3px 3px 0 var(--tertiary-color);

  transition: box-shadow 0.2s;
}
.navbarLinks li:last-child a:hover{
  box-shadow: 5px 5px 0 var(--tertiary-color);
}
.navbarLinks li:last-child a:active{
  box-shadow: 3px 3px 0 var(--tertiary-color);
  transition: box-shadow 0.05s;
}
















/* Hero */
.hero{
  width: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
}
.heroParent{
  margin-top: 100px;

  width: inherit;
  height:calc(100vh - 115.7px);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.heroChild{
  width: 50%;
  height: inherit;
  padding: 0;
  margin: 0;
}
.heroPic{
  width: 600px;
}
.heroRight{
  color: var(--primary-color);
  text-align: right;
}
.heroRight h2, h4{
  margin: 0 45px 0 0;
}
.heroRight a{
  color: white;
  background-color: var(--primary-color);
  align-self: flex-end;
  margin: 0 30px 0 0;

  text-decoration: none;

  font-family: "Roboto", sans-serif;

  font-size: 1.8rem;

  padding: 17px 50px;
  margin-top: 40px;

  border-radius: 5px;

  box-shadow: 5px 5px 0 var(--tertiary-color);

  transition: box-shadow 0.2s;
}
.heroRight a:hover{
  box-shadow: 8px 8px 0 var(--tertiary-color);
}
.heroRight a:active{
  box-shadow: 5px 5px 0 var(--tertiary-color);
  transition: background-color 0.1s;
}
.leftRectangle{
  width: 25%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -5;

  background-color: var(--primary-color);
}
.heroCircles{
  position: absolute;

  bottom: -85px;
  left: -85px;

  z-index: -1;
}








/* Why Us */
#whyUs{
  width: 100%;
  height: fit-content;

  margin-top: 150px;

  position: relative;

  padding: 120px 0px;

  background-color: var(--primary-contrast-color);
}
.whyParent{
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  position: absolute;
  top: -100px;
}
.whyChild{
  width: 1/3;
  height: fit-content;
}

.whyCard{

  display: flex;
  flex-direction: column;
  text-align: center;

  width: 400px;
  margin: 0px 10px;


  position: relative;

  padding: 40px 20px;

  border: 1px solid var(--primary-contrast-color);
  background-color: var(--quantertary-contrast-color);

  clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}
.whyCard h4,p{
  z-index: 5;
}

.whyIcon{
  position: absolute;
  left: -100px;
  top: 0;
  width: 100%;
  height: 100%;
}
.whyUsTitle{
  text-align: center;
  margin-top: 120px;
}











/* About us */
#about{
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(/assets/images/teamImage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  margin-top: 150px;
  padding: 80px 0px;
}
.aboutCard{
  width: 55%;

  background-color: rgb(4, 13, 18, 0.9);
  color: var(--quantertary-contrast-color);

  padding:100px;

  border: var(--quantertary-contrast-color) 3px solid;
  clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
}
.aboutCard h3{
  margin: 0px;
}
.aboutCard h5{
  margin: 50px 0 0 0;
}
.aboutCard ul li{
  list-style-type: "\2713    ";
}
.aboutCard p{
  margin-bottom: 30px;
}
.aboutButton{
  color: var(--primary-color);
  background-color: var(--quantertary-contrast-color);
  box-shadow: 3px 3px 0 var(--tertiary-color);

  text-decoration: none;
  
  padding: 10px 30px;

  border-radius: 5px;

  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;

  transition: box-shadow 0.2s;
}
.aboutButton:hover{
  box-shadow: 5px 5px 0 var(--tertiary-color);
}
.aboutButton:active{
  box-shadow: 3px 3px 0 var(--tertiary-color);
  transition: box-shadow 0.1s;
}












/* Services */
#services{
  width: 100%;
  height: fit-content;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 150px;
}
.servicesParent{
  width: 95%;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  row-gap: 40px;
}
.servicesChild{
  width: 33%;
  height: fit-content;

  display: flex;
  justify-content: center;
}
.servicesCard{  
  padding: 30px;
  width: calc(100% - 100px);

  background-color: var(--secondary-contrast-color);

  box-shadow: 0 0 20px var(--secondary-contrast-color);

  clip-path: polygon(0% 0%, 95% 0%, 100% 4%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 0% 0%);

  transition: transform 0.2s;
}

.servicesCard:hover{
  transform: scale(101%);
  cursor: pointer;
}

.servicesCard img{
  width: 100%;
  aspect-ratio: 1/0.7;
  object-fit: cover;
  object-position: center;
}

.servicesCard h4{
  color: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 0;
}

.servicesCard hr{
  margin-top: 30px;
  border-top: 2px solid var(--primary-color);
}
.servicesButton{

  text-decoration: none;

  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;

  background-color: var(--primary-color);
  color: var(--quantertary-contrast-color);

  padding: 10px 30px;
  border-radius: 5px;

  box-shadow: 4px 4px 0 var(--tertiary-color);

  margin-top: 40px;

  transition: box-shadow 0.2s;

}
.servicesButton:hover{
  box-shadow: 6px 6px 0 var(--tertiary-color);
}
.servicesButton:active{
  box-shadow: 4px 4px 0 var(--tertiary-color);
  transition: box-shadow 0.1s;
}